@font-face {
	font-family: 'gilroy';
	src: url(../fonts/Gilroy-ExtraBold.otf);
	font-weight: 600;
}

@font-face {
	font-family: 'gilroy';
	src: url(../fonts/Gilroy-Light.otf);
	font-weight: 300;
}

.font-bold {
	font-family: 'gilroy', 'roboto', sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: 'gilroy', 'roboto', sans-serif;
	font-weight: 300;
}

.transisi {
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.z-depth-12 {
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.floating:hover{
	background-color: #203A43 !important;
}

.floating i:hover{
	color: #fff !important;
}
