@font-face {
	font-family: 'gilroy';
	src: url(../font/Gilroy-ExtraBold.otf);
	font-weight: 600;
}

@font-face {
	font-family: 'gilroy';
	src: url(../font/Gilroy-Light.otf);
	font-weight: 300;
}

.font-bold {
	font-family: 'gilroy', 'roboto', sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: 'gilroy', 'roboto', sans-serif;
	font-weight: 300;
}

.transisi {
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
}

.nav-link {
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 2px;
	transition: 0.3s all ease-in-out;
}

.card-photo {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center;
	transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
}

.dropdown .dropdown-menu.dropdown-secondary .dropdown-item:hover{
	background-color: #eef2f3 !important;
	color: #9ccc65 !important;
}


nav ul .nav-link:hover {
	background-color: #eef2f3 !important;
	color: #9ccc65 !important;
}

.navbar.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.1);
}

.btntmbhmtkl:hover{
	background-color: #33b5e5 !important;
	color: white !important;
}

.btnlogin:hover{
	background-color: #5e35b1 !important;
	color: white !important;
}



@media only screen and (min-width: 600px) {
	.table-responsive{
		display: table !important;
	}
}

.floating{
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.18) !important;
}

.floating:hover{
	background-color: #33b5e5 !important;
}

.floating i:hover{
	color: white !important;
}

.forgotpass:hover{
	color: #5e35b1 !important;
}